/* Estilo general para la página */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f9;
  display: flex;
  flex-direction: column;
  min-height: 100vh;  /* Asegura que la altura mínima sea 100vh */
}

/* Estilo para el encabezado */
header {
  background-color: #003f5c;
  color: white;
  padding: 15px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-shrink: 0; /* Para que no se reduzca */
}

/* Estilo para el mapa */
#map {
  margin-top: 20px;
  flex-grow: 1;  /* El mapa crecerá para ocupar el espacio restante */
  max-height: 400px;  /* Ajustamos la altura máxima del mapa */
}

/* Lista de PK más cercanos */
ul {
  list-style-type: none;
  padding: 0;
}

ul li {
  background-color: #ffffff;
  margin: 5px 0;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

ul li:hover {
  background-color: #f0f0f0;
}

/* Estilo para el pie de página */
footer {
  background-color: #003f5c;
  color: white;
  padding: 10px 0;
  text-align: center;
  flex-shrink: 0;  /* El pie de página no se reduce */
  margin-top: auto; /* Esto asegura que el pie de página se quede al final */
}

/* Ajustar el logo en el pie de página */
.footer-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo-footer {
  max-width: 100px;  /* Ajusta el tamaño del logo en pantallas grandes */
  height: auto;     /* Mantiene las proporciones */
  margin: 0 auto;   /* Asegura que el logo esté centrado */
}

/* Media query para pantallas pequeñas (móviles) */
@media screen and (max-width: 768px) {
  .logo-footer {
    max-width: 50px;  /* Reduzco el logo a un tamaño más pequeño en móviles */
    max-height: 50px; /* Limito la altura del logo */
  }
}

@media screen and (max-width: 480px) {
  .logo-footer {
    max-width: 40px;  /* Aún más pequeño en pantallas muy pequeñas */
    max-height: 40px; /* Limito aún más el logo */
  }
}
