body {
    margin: 0;
    font-family: Arial, sans-serif;
    height: 100vh; /* La pantalla completa */
    display: flex;
    flex-direction: column; /* Los elementos se apilan verticalmente */
}

header {
    height: 10%; /* La cabecera ocupa el 10% de la pantalla */
    background-color: #007aff;
    color: white;
    text-align: center;
    font-size: 1.5em;
    font-weight: bold;
    display: flex;
    align-items: center; /* Centrado vertical del texto */
    justify-content: center; /* Centrado horizontal del texto */
}

#map {
    height: 60%; /* El mapa ocupa el 60% de la pantalla */
    width: 100%; /* Asegura que el ancho sea completo */
}

.tarjeta {
    height: 30%; /* La tarjeta ocupa el 30% de la pantalla */
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centrado vertical del contenido */
    align-items: center; /* Centrado horizontal del contenido */
    background-color: rgba(0, 122, 255, 0.9);
    color: white;
    border-radius: 20px 20px 0 0; /* Bordes redondeados en la parte superior */
    padding: 20px;
    font-family: Arial, sans-serif;
    text-align: center;
    width: 100%; /* Asegura que ocupe todo el ancho */
    box-shadow: 0 -4px 10px rgba(0, 0, 0, 0.2);
}


.tarjeta h1 {
    margin: 0;
    font-size: 2em; /* Fuente grande para el PK */
    font-weight: bold;
}

.tarjeta h2 {
    margin: 10px 0 0;
    font-size: 1.5em; /* Fuente mediana para la velocidad */
}

.tarjeta p {
    margin: 10px 0 0;
    font-size: 1em; /* Fuente pequeña para el lugar */
    opacity: 0.9; /* Un poco menos destacada */
}

