html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: Arial, sans-serif;
}

.contenedor {
  display: flex;
  flex-direction: column;
  height: 100%;
}

header {
  text-align: center;
  height: 100px;
}

#map-container {
  flex: 1 1 auto;
  position: relative;
}

#map {
  height: 100%;
  width: 100%;
}

#calculoPK {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  background-color: #ffffff;
}

.icono-camara {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
}

.icono-camara img {
  width: 50px;
  height: 50px;
  cursor: pointer;
}

.tarjeta {
  display: inline-block;
  background-color: #ffffff;
  border: 2px solid #003f5c;
  border-radius: 10px;
  padding: 10px;
  width: auto;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.tarjeta h2 {
  margin: 0;
  font-size: 1.4em;
  color: #003f5c;
}

.tarjeta p {
  margin: 5px 0 0;
  font-size: 1.2em;
  color: #007aff;
}
